<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="./css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title></title>
</head>
<body>
<header>
	<div class="sm-head">
		<div class="row text-right">
			<div class="columns small-8 medium-3 large-3 medium-offset-15 large-offset-15">
				<a href="#">О клинике</a>
			</div>
			<div class="columns small-8 medium-3 large-3">
				<a href="#">Новости</a>
			</div>
			<div class="columns small-8 medium-3 large-3">
				<a href="#">Вакансии</a>
			</div>
		</div>
	</div>
	<div class="row align-middle">
		<div class="columns small-12 medium-5 large-4">
			<a href="/index.html" class="logo">Клиника Екатеринская</a>
		</div>
		<div class="columns small-12 medium-4 medium-offset-1 large-offset-0 large-4 text-center">
			<a href="#" class="head-adress">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				Наши центры
			</a>
		</div>
		<div class="columns small-24 medium-5 large-4 text-center">
			<a href="#" class="head-phone">
				<i class="fa fa-phone" aria-hidden="true"></i>
				8(861) 202-0-202
			</a>
		</div>
		<div class="columns small-10 medium-4 large-4 large-offset-3">
			<a href="#">Личный кабинет</a>
		</div>
		<div class="columns small-14 medium-5 large-5 text-right">
			<a href="/analiz_page.html" class="btn">Результаты анализов</a>
		</div>
	</div>
	<hr>
		<div class="row align-middle">
		<div class="columns small-24 text-center">
		<nav class="greedy-nav">
		<button class="hidden" count="0"><div class="hamburger"></div></button>
		<ul class="visible-links">
			<li><a href="/clinica/build/doctor.html">Диагностика</a></li>
			<li><a href="/doctors.html">Лечение</a></li>
			<li><a href="/plastick_page.html">Хирургия</a></li>
			<li><a href="/rubrika.html">Специалисты</a></li>
			<li><a href="/usluga.html">Услуги</a></li>
			<li><a href="/usluga_page.html">Наши центры</a></li>
		</ul>
		<ul class="hidden-links hidden"></ul>
		</nav>
		</div>
		</div>
</header>
