<nav class="left-nav white-side">
<h4>Консультации</h4>
	<ul>
		<li class="active"><a href="#">Акушер-гинеколог</a></li>
		<li><a href="#">Аллерголог</a></li>
		<li><a href="#">Ангиохирург</a></li>
		<li><a href="#">Андролог</a></li>
		<li><a href="#">Вертебролог</a></li>
		<li><a href="#">Гастроэнтеролог</a></li>
		<li><a href="#">Гемостазиолог</a></li>
		<li><a href="#">Аллерголог</a></li>
		<li><a href="#">Ангиохирург</a></li>
		<li><a href="#">Андролог</a></li>
		<li><a href="#">Вертебролог</a></li>
		<li><a href="#">Гастроэнтеролог</a></li>
		<li><a href="#">Гемостазиолог</a></li>
		<li><a href="#">Аллерголог</a></li>
		<li><a href="#">Ангиохирург</a></li>
		<li><a href="#">Андролог</a></li>
		<li><a href="#">Вертебролог</a></li>
		<li><a href="#">Гастроэнтеролог</a></li>
		<li><a href="#">Гемостазиолог</a></li>
		<li><a href="#">Аллерголог</a></li>
		<li><a href="#">Ангиохирург</a></li>
		<li><a href="#">Андролог</a></li>
		<li><a href="#">Вертебролог</a></li>
		<li><a href="#">Гастроэнтеролог</a></li>
		<li><a href="#">Гемостазиолог</a></li>
		<li><a href="#">Аллерголог</a></li>
		<li><a href="#">Ангиохирург</a></li>
		<li><a href="#">Андролог</a></li>
		<li><a href="#">Вертебролог</a></li>
		<li><a href="#">Гастроэнтеролог</a></li>
		<li><a href="#">Гемостазиолог</a></li>
	</ul>
</nav>